---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

interface Props {
  links?: Array<Links>;
  secondaryLinks?: Array<Link>;
  socialLinks?: Array<Link>;
  footNote?: string;
  theme?: string;
  companyDescription?: string;
  contactEmail?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light', companyDescription = '', contactEmail = '' } = Astro.props;
const mailtoHref = 'mailto:' + contactEmail;
---

<footer class="relative border-t border-slate-700 not-prose bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-8 md:py-12">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <div class="col-span-2 md:col-span-1">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl text-white" href={getHomePermalink()}>{SITE?.name}</a>
        </div>
        <div class="text-sm text-gray-400 mb-4">
          {companyDescription}
        </div>
        <div class="text-sm text-gray-400">
          <a href={mailtoHref} class="hover:underline">{contactEmail}</a>
        </div>
      </div>
      {
        links.map((section) => (
          <div>
            <div class="text-white font-medium mb-2">{section.title}</div>
            {section.links && section.links.length > 0 && (
              <ul class="text-sm">
                {section.links.map((link) => (
                  <li class="mb-2">
                    <a
                      class="text-gray-400 hover:text-white hover:underline transition duration-150 ease-in-out"
                      href={link.href}
                      aria-label={link.ariaLabel}
                    >
                      <Fragment set:html={link.text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="mt-8 pt-8 border-t border-gray-800 flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      {
        socialLinks.length > 0 && (
          <ul class="flex gap-4">
            {socialLinks.map((link) => (
              <li>
                <a
                  class="text-gray-400 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-700 rounded-lg text-sm p-3 inline-flex items-center"
                  aria-label={link.ariaLabel}
                  href={link.href}
                >
                  {link.icon && <Icon name={link.icon} class="w-5 h-5" />}
                  <Fragment set:html={link.text} />
                </a>
              </li>
            ))}
          </ul>
        )
      }
      <div class="text-sm text-gray-500">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
